AWS_ACCESS_KEY_ID={{ vault_oci_s3_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ vault_oci_s3_secret_access_key }}
AWS_DEFAULT_REGION={{ oci_s3_region | default('ca-toronto-1') }}
RESTIC_PASSWORD={{ vault_restic_password }}
RESTIC_REPOSITORY=s3:{{ vault_oci_s3_endpoint }}/{{ vault_oci_s3_bucket }}/{{ homelab_backup_repo_prefix }}
DATA_ROOT=/opt/homelab/data
RESTIC_KEEP_DAILY={{ homelab_backup_keep_daily }}
RESTIC_KEEP_WEEKLY={{ homelab_backup_keep_weekly }}
RESTIC_KEEP_MONTHLY={{ homelab_backup_keep_monthly }}
RESTIC_MAX_REPO_SIZE_GB={{ homelab_backup_max_repo_size_gb }}
